<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <title>Django DRF - React : Quickstart - Valentino G. - www.valentinog.com</title>
</head>

<body>
  <section class="section">
    <div>
          <div id="root" class="columns"><!-- React --></div>
          <div>More html...</div>
    </div>
  </section>
</body>

{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>
